<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>精品专题</string>
		<key>group</key>
		<array>
			<dict>
				<key>name</key>
				<string>产品课程</string>
				<key>id</key>
				<integer>19</integer>
				<key>ImageName</key>
				<string>class.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>销售冠军</string>
				<key>ImageName</key>
				<string>seven.png</string>
				<key>id</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>医药电商</string>
				<key>id</key>
				<integer>8</integer>
				<key>ImageName</key>
				<string>live.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GPS系列</string>
				<key>id</key>
				<integer>7</integer>
				<key>ImageName</key>
				<string>GSP.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>店长的一天</string>
				<key>id</key>
				<integer>2</integer>
				<key>ImageName</key>
				<string>dianzhang.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>name</key>
				<string>慢病管理</string>
				<key>ImageName</key>
				<string>chronic.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>技能提升</string>
		<key>group</key>
		<array>
			<dict>
				<key>name</key>
				<string>营养知识</string>
				<key>id</key>
				<integer>48</integer>
				<key>ImageName</key>
				<string>live.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>店面管理</string>
				<key>ImageName</key>
				<string>home.png</string>
				<key>id</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>通用能力</string>
				<key>id</key>
				<integer>21</integer>
				<key>ImageName</key>
				<string>health1.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>人力资源</string>
				<key>id</key>
				<integer>20</integer>
				<key>ImageName</key>
				<string>human.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>领导能力</string>
				<key>id</key>
				<integer>18</integer>
				<key>ImageName</key>
				<string>lead.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>团队管理</string>
				<key>id</key>
				<integer>17</integer>
				<key>ImageName</key>
				<string>major.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>职业生涯</string>
				<key>id</key>
				<integer>16</integer>
				<key>ImageName</key>
				<string>all.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>质量管理</string>
				<key>id</key>
				<integer>15</integer>
				<key>ImageName</key>
				<string>live.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>数据分析</string>
				<key>id</key>
				<integer>14</integer>
				<key>ImageName</key>
				<string>data.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>服务管理</string>
				<key>id</key>
				<integer>13</integer>
				<key>ImageName</key>
				<string>servers</string>
			</dict>
			<dict>
				<key>name</key>
				<string>营销管理</string>
				<key>id</key>
				<integer>12</integer>
				<key>ImageName</key>
				<string>marketing.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品管理</string>
				<key>id</key>
				<integer>11</integer>
				<key>ImageName</key>
				<string>commodity.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>疾病用药</string>
		<key>group</key>
		<array>
			<dict>
				<key>name</key>
				<string>用药知识</string>
				<key>id</key>
				<integer>24</integer>
				<key>ImageName</key>
				<string>live.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>疾病知识</string>
				<key>id</key>
				<integer>23</integer>
				<key>ImageName</key>
				<string>live.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>最新直播</string>
		<key>group</key>
		<array/>
	</dict>
</array>
</plist>
